@font-face {
    font-family: "BYekan";
    src: url("../fonts/Yekan.eot") format("eot");
    src: url("../fonts/Yekan.ttf") format("truetype");
    src: url("../fonts/Yekan.woff") format("woff");
    src: url("../fonts/Yekan.woff2") format("woff2");
        
    font-weight: normal;
    font-style: normal;
}

